<form [formGroup]="form" autocomplete="new-password">
  <h2 mat-dialog-title>{{"PASSWORD_CHANGE" | translate}}</h2>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>{{"OLD_PASSWORD" | translate}}</mat-label>
      <input matInput [type]="'password'" formControlName="oldPassword">
      <mat-error *ngIf="form.controls.oldPassword.hasError('required')">{{"FIELD_REQUIRED" | translate}}</mat-error>
    </mat-form-field>
  </p>
  <br>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>{{"NEW_PASSWORD" | translate}}</mat-label>
      <input matInput [type]="'password'" formControlName="newPassword">
      <mat-error *ngIf="form.controls.newPassword.hasError('required')">{{"FIELD_REQUIRED" | translate}}</mat-error>
      <mat-error *ngIf="form.controls.newPassword.hasError('pattern')">
        {{"PASSWORD_PATTERN" | translate}}
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>{{"CONFIRM_PASSWORD" | translate}}</mat-label>
      <input matInput [type]="'password'" formControlName="confirmPassword" [errorStateMatcher]="matcher"
             name="confirmPassword">
      <mat-error *ngIf="form.hasError('notSame')">{{"THE_SAME_PASSWORD" | translate}}</mat-error>
    </mat-form-field>
  </p>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="undefined" [disabled]="pending">{{"CANCEL" | translate}}</button>
    <button mat-button color="primary"
            (click)="changePassword(form.controls.oldPassword.value, form.controls.newPassword.value)"
            [disabled]="!form.valid||pending">{{"CONFIRM" | translate}}
    </button>
  </mat-dialog-actions>
</form>

