mat-card {
  width: 100%;
  max-width: 1000px;

}

mat-card-title {
  margin-bottom: 15px;
}

mat-card-content {
  margin-top: 15px;
}

.gray {
  background-color: #EFEFEF;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #444;
}
