<mat-card *ngIf="page" fxFlex
          [ngClass]="{'cms-card-secondary-color': config.useSecondaryColor, 'cms-card': true}">
  <mat-card-title>
    <div>
      <span [ngClass]="config.showLink? 'cms-link': 'null'" [routerLink]="['/page', page.id]">
        <span>{{page.title}}</span>
        <mat-icon *ngIf="page.hidden">visibility_off</mat-icon>
      </span>
    </div>
  </mat-card-title>

  <mat-card-subtitle>
    <div *ngIf="config.showUniversity">
      <span *ngIf="!(page.university.hidden && securityService.isForbiddenUniversity(page.university))"
            class="cms-link" [routerLink]="['/university', page.university.id]">
        <mat-icon>business</mat-icon>
        <span>{{page.university.name}}</span>
      </span>
      <span *ngIf="page.university.hidden && securityService.isForbiddenUniversity(page.university)">
        <mat-icon>domain_disabled</mat-icon>
        <span>{{page.university.name}}</span>
      </span>
    </div>

    <div *ngIf="config.showAuthor">
      <span class="cms-link" [routerLink]="['/account', page.creator.id]">
        <mat-icon>account_circle</mat-icon>
        <span>{{"AUTHOR" | translate}}: {{page.creator.firstName + " " + page.creator.lastName}}</span>
      </span>
    </div>

    <div *ngIf="config.showCreatedOn">
      <mat-icon>date_range</mat-icon>
      <span>{{page.createdOn}}</span>
    </div>
  </mat-card-subtitle>

  <mat-divider inset></mat-divider>

  <mat-card-content *ngIf="config.showDescription">
    <p>{{page.description}}</p>
  </mat-card-content>

  <mat-card-actions>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
