.editor {
  background-color: white;
  max-width: 1000px;
}

.cms-content {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

mat-card {
  width: 100%;
  max-width: 1000px;
}
