<div *ngIf="page" fxLayout='column' fxLayoutAlign="center center" class="cms-content" fxLayoutGap="20px">

  <mat-card fxFlex>
    <mat-card-title>Edytowanie strony</mat-card-title>
    <mat-card-subtitle>{{page.title}}</mat-card-subtitle>

    <mat-card-actions>
      <button [disabled]="!content" mat-button (click)="save()">
        <mat-icon>save</mat-icon>
        Zapisz
      </button>
      <button mat-button [routerLink]="['/page', page.id]">
        <mat-icon>exit_to_app</mat-icon>
        Wyjdź
      </button>
    </mat-card-actions>
  </mat-card>

  <div fxFlex class="editor">
    <quill-editor [(ngModel)]="content" [sanitize]="true" [styles]="{height: '600px'}"
                  (onFocus)="focus($event)"
                  (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)"
                  (onEditorCreated)="created($event)"></quill-editor>
  </div>

</div>
