<span class="beginning">
    <button mat-button style="text-align: center" [routerLink]="['/']">Logo</button>
    <button *ngIf="logged" [matMenuTriggerFor]="aboveMenu" class="mainButton">
        <mat-icon fontIcon="menu"></mat-icon>
        CMS
    </button>
    <button #isopen="matMenuTrigger" [matMenuTriggerFor]="lanMenu" class="lanButton">
          <mat-icon fontIcon="menu"></mat-icon>
          {{"CURRENT_LANGUAGE" | translate}}
    </button>

    <button mat-button [routerLink]="['/search']">
        <mat-icon>search</mat-icon>
        {{"SEARCH" | translate}}
    </button>
</span>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item [routerLink]="['/']" class="subButton">{{"MAIN_PAGE" | translate}}</button>
  <button *ngIf="userLogged?.accountType !== 'USER'" mat-menu-item [routerLink]="['/universities']" class="subButton">{{"UNIVERSITIES" | translate}}</button>
  <button *ngIf="userLogged?.accountType !== 'USER'" mat-menu-item [routerLink]="['/accounts']" class="subButton">{{"USERS" | translate}}</button>
  <button mat-menu-item [routerLink]="['/pages']" class="subButton">{{"PAGES" | translate}}</button>
  <button *ngIf="userLogged?.accountType !== 'USER'" mat-menu-item [routerLink]="['/templates']" class="subButton">{{"TEMPLATE.MANY" | translate}}</button>
</mat-menu>

<mat-menu #lanMenu="matMenu" yPosition="above">
  <button mat-menu-item class="subButton" (click)="translate_to_pl()">Polski (pl)</button>
  <button mat-menu-item class="subButton" (click)="translate_to_en()">English (en)</button>
</mat-menu>


<button *ngIf="logged" class="mainButton" [matMenuTriggerFor]="userMenu"><i
  class="material-icons">person</i>{{userLogged?.firstName}}</button>
<mat-menu #userMenu="matMenu" yPosition="above">
  <button mat-menu-item class="subButton" [routerLink]="['/account/1']">{{"PROFILE" | translate}}</button>
  <button mat-menu-item class="subButton" [routerLink]="['/accounts/settings']">{{"SETTINGS" | translate}}</button>
  <button mat-menu-item class="subButton" [routerLink]="['']" (click)="logout()">{{"LOGOUT" | translate}}</button>
</mat-menu>

<button *ngIf="!logged" class="mainButton" [routerLink]="['/login']">{{"LOGIN" | translate}}<i
    class="material-icons">person</i></button>
