:link {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.topBarCss {
  display: inline-flex;
  justify-content: space-around;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
}

.mat-button {
  height: 40px;
}

.hierarchyButton {
  border-radius: 2px;
  font-size: 20px;
  height: 40px;
  background-color: var(--base-light-blue);
  margin-right: 10px;
}

.mainButton {
  border-radius: 2px;
  font-size: 20px;
  height: 40px;
  background-color: var(--base-light-blue);
}

.lanButton {
  border-radius: 2px;
  font-size: 20px;
  height: 40px;
  margin-left: 10px;
  white-space: nowrap;
  background-color: var(--base-light-blue);
}

.subButton {
    font-size: 15px;
}


// .button:hover,
// button:hover {
//     opacity: 0.9;
//     font-weight: normal;
// }

// .button:disabled,
// button:disabled {
//     opacity: 0.5;
//     cursor: auto;
// }


