:link {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.begining{
    display: inline-flex;
}

.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
}

.mainButton{
    border-radius: 2px;
    font-size: 20px;
    background-color: var(--base-light-blue);

}

.subButton {
    font-size: 15px;
}


// .button:hover,
// button:hover {
//     opacity: 0.9;
//     font-weight: normal;
// }

// .button:disabled,
// button:disabled {
//     opacity: 0.5;
//     cursor: auto;
// }


