.row {
  width: 100%;
  max-width: 1200px;
  column-gap: 20px;
  row-gap: 20px;
}

button.selected {
  background-color: lightgray !important;
}

mat-icon {
  margin-right: 5px;
}

mat-card {
  max-height: 85vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  > mat-card-title-group {
    display: block;
  }

  > mat-card-content {
    overflow-y: auto;
    margin-bottom: 0;
  }

  mat-card-subtitle {
    margin-bottom: 30px;
  }

  mat-card-actions {
    margin-top: 10px;
  }
}
