<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav class="sidenav-tree" [style.width]="sidenavWidth" (window:resize)="onResize($event)" [mode]="modeOnInit" opened disableClose="true">
    <div class="collapse-button">
      <div class="hierarchy-title" *ngIf="sidenavExtended">{{"HIERARCHY" | translate}}</div>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon *ngIf="sidenavExtended" >arrow_back</mat-icon>
        <mat-icon *ngIf="!sidenavExtended">arrow_forward</mat-icon>
      </button>
    </div>
    <mat-tree *ngIf="sidenavExtended" [dataSource]="dataSource" [treeControl]="treeControl" class="hierarchy-tree" >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle >
        <button mat-button [routerLink]="['/page', node.id]">
          <div class="tree-node-title">{{node.title}}</div>
        </button>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" #nested_node>
        <div class="mat-tree-node" >
          <button *ngIf="nested_node.ariaLevel != '1'" mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.title">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-icon *ngIf="nested_node.ariaLevel == '1'">home</mat-icon>
          <button mat-button [routerLink]="['/page', node.id]">
            <div class="tree-node-title">{{node.title}}</div>
          </button>
        </div>
        <div [class.hierarchy-tree-invisible]="treeControl.isExpanded(node)"
             role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout='column'  fxLayoutAlign="center center" class="cms-padding cms-layout-gap" *ngIf="page">
      <app-page-card [page]="page" [config]="primaryCardConfig" class="cms-fixed-width">
        <button *ngIf="securityService.hasUniversity(page.university?.id)" mat-button [matMenuTriggerFor]="actions">
          <mat-icon>label_important</mat-icon>
          <span>{{"ACTIONS" | translate}}</span>
        </button>
      </app-page-card>

      <mat-card fxFlex class="cms-fixed-width">
        <div class="ql-container ql-snow" style="border-width: 0;">
          <div class="ql-editor" [innerHtml]="pageHtml"></div>
        </div>
      </mat-card>

      <mat-card fxFlex class="cms-fixed-width">
        <mat-card-title class="mb-20">{{"PAGE_RESOURCES" | translate}}</mat-card-title>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>attachment</mat-icon>
                  <span>{{"ATTACHED_FILES" | translate}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-file-card [page]="page" class="cms-fixed-width"></app-file-card>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="showParentPage && page.parent" fxFlex class="cms-fixed-width">
        <mat-card-title class="mb-20">{{"PARENT_PAGE" | translate}}<br></mat-card-title>
        <mat-card-content fxLayout='column' class="cms-layout-gap">
          <app-page-card [page]="page.parent" [config]="secondaryCardConfig"></app-page-card>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="showChildPage && page.children.length" fxFlex class="cms-fixed-width">
        <mat-card-title class="mb-20">{{"SUBPAGE" | translate}}<br></mat-card-title>
        <mat-card-content fxLayout='column' class="cms-layout-gap">
          <app-page-card *ngFor="let child of page.children" [page]="child" [config]="secondaryCardConfig"></app-page-card>
        </mat-card-content>
      </mat-card>
    </div>

<mat-menu #actions="matMenu">
  <button mat-menu-item [routerLink]="['/page/'+page.id+'/edit']"
          *ngIf="securityService.hasRole('USER') && !securityService.isForbiddenPage(page)">
    <mat-icon>create</mat-icon>
    <span>{{"EDIT_CONTENT" | translate}}</span>
  </button>
  <button mat-menu-item (click)="changeKeyWords()"
          *ngIf="securityService.hasRole('USER') && !securityService.isForbiddenPage(page)">
    <mat-icon>create</mat-icon>
    <span>{{"KEYWORD.EDIT_MANY" | translate}}</span>
  </button>
  <button mat-menu-item (click)="changePageCreator()"
          *ngIf="securityService.hasRole('MODERATOR') && !securityService.isForbiddenPage(page)">
    <mat-icon>app_registration</mat-icon>
    <span>{{"CHANGE_AUTHOR" | translate}}</span>
  </button>
  <button mat-menu-item (click)="addPage()"
          *ngIf="securityService.hasRole('USER') && securityService.hasUniversity(page?.university?.id)">
    <mat-icon>note_add</mat-icon>
    <span>{{"ADD_SUBPAGE" | translate}}</span>
  </button>
  <button mat-menu-item (click)="editPage()"
          *ngIf="securityService.hasRole('MODERATOR') && !securityService.isForbiddenPage(page)">
    <mat-icon>edit</mat-icon>
    <span>{{"EDIT_INFORMATION" | translate}}</span>
  </button>
  <button mat-menu-item (click)="hiddenPage()"
          *ngIf="securityService.hasRole('USER') && !securityService.isForbiddenPage(page)
          && !page.hidden">
    <mat-icon>visibility_off</mat-icon>
    <span>{{"HIDE_PAGE" | translate}}</span>
  </button>
  <button mat-menu-item (click)="hiddenPage()"
          *ngIf="securityService.hasRole('USER') && !securityService.isForbiddenPage(page)
          && page.hidden">
    <mat-icon>visibility_on</mat-icon>
    <span>{{"SHOW_PAGE" | translate}}</span>
  </button>
  <button mat-menu-item (click)="deletePage()"
          *ngIf="securityService.hasRole('USER') && !securityService.isForbiddenPage(page)
          && page.children.length == 0
          && page.parent != null">
    <mat-icon>delete</mat-icon>
    <span>{{"DELETE_PAGE" | translate}}</span>
  </button>
</mat-menu>
  </mat-sidenav-content>
</mat-sidenav-container>
