.item {
    padding: 2px 5px;
    margin: 0.5px;
    background-color: rgb(184, 223, 255);
    color: black;
}

:link {
    color: black;
    font-style: normal;
    text-decoration: none;
}
:link::after{
    color: black;

}
.content{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start
}

.pageView{
    position: absolute;
    right: 0px;
    width: 300px;
    margin: 10px;
    width: 595px;
    height: 842px;
    background-color: white;
}