$sidenav-color: #4999fa;
$sidenav-color-title: #107be5;
$main-background-color: #9ec6f7;

.collapse-button{
  padding: 5px;
  .hierarchy-title{
    font-size: 25px;
    padding-left: 5px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $sidenav-color-title;
}
.mat-sidenav.sidenav-tree{
  position: fixed;
  margin-top: 68px;
  background-color: $sidenav-color;
}
.mat-sidenav-content {
  background-color: $main-background-color;
}

.hierarchy-tree{
  padding-top: 10px;
  padding-left: 5px;
  .mat-button{
    padding: 2px 5px;
  }
  background-color: $sidenav-color;
}
.hierarchy-tree div[role=group] > .mat-tree-node {
  padding-left: 30px;
}
.hierarchy-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}
.hierarchy-tree-invisible {
  display: none;
}
button.mat-button-wrapper{
  width: 100%;
}
.tree-node-title{
  font-size: 20px;
  line-height: 20px;
  white-space: normal;
  text-align: left;
}
.mat-tree-node {
  min-height: 45px;
  .mat-icon-button{
    width: 30px;
    height: 30px;
  }
  .mat-icon-rtl-mirror.mat-icon{
    justify-content: center;
    height:30px;
    width:30px;
    font-size:30px;
  }
}




