<form [formGroup]="form" autocomplete="new-password">
    <h2 mat-dialog-title>Dodawanie użytkownika</h2>
    <mat-dialog-content fxLayout='row wrap'>
        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill">
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="form.controls.username.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill">
            <mat-label>Hasło</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.password.hasError('required')">To pole jest wymagane</mat-error>
            <mat-error *ngIf="form.controls.password.hasError('pattern')">
                Hasło musi posiadać co najmniej jedną cyfrę, małą i dużą literę oraz przynajmniej 8 znaków.
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
            <mat-label>Imię</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-error *ngIf="form.controls.firstName.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
            <mat-label>Nazwisko</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-error *ngIf="form.controls.lastName.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form.controls.email.hasError('email')">Email musi być poprawny</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
            <mat-label>Nr telefonu</mat-label>
            <input matInput type="text" formControlName="phoneNumber">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="form.controls.phoneNumber.hasError('pattern')">Nr telefonu musi być poprawny</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Account type</mat-label>
            <mat-select formControlName="accountType">
                <mat-option *ngIf="securityService.hasLoggedUserHigherRole('USER')"
                            [value]="'USER'">User</mat-option>
                <mat-option *ngIf="securityService.hasLoggedUserHigherRole('MODERATOR')"
                            [value]="'MODERATOR'">University admin</mat-option>
                <mat-option *ngIf="securityService.hasLoggedUserHigherRole('ADMIN')"
                            [value]="'ADMIN'">Main admin</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.accountType.hasError('required')">Account type is required</mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="warn" [mat-dialog-close]="undefined" [disabled]="exiting">Anuluj</button>
        <button mat-button color="primary"
                (click)="createUser()"
                [disabled]="!form.valid||exiting">Dodaj
        </button>
    </mat-dialog-actions>
</form>



