<form [formGroup]="form">
  <h2 mat-dialog-title>{{"EDIT_CONTENT" | translate}}</h2>
  <mat-dialog-content fxLayout='row wrap'>
    <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
      <mat-label>{{"FIRST_NAME" | translate}}</mat-label>
      <input matInput type="text" formControlName="firstName">
      <mat-error *ngIf="form.controls.firstName.hasError('required')">{{"FIELD_REQUIRED" | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
      <mat-label>{{"LAST_NAME" | translate}}</mat-label>
      <input matInput type="text" formControlName="lastName">
      <mat-error *ngIf="form.controls.lastName.hasError('required')">{{"FIELD_REQUIRED" | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
      <mat-label>{{"EMAIL" | translate}}</mat-label>
      <input matInput type="text" formControlName="email">
      <mat-error *ngIf="form.controls.email.hasError('email')">{{"EMAIL_INCORRECT" | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50" fxFlex.lt-sm="100" appearance="fill" class="input">
      <mat-label>{{"PHONE_NUMBER" | translate}}</mat-label>
      <input matInput type="text" formControlName="phoneNumber">
      <mat-error *ngIf="form.controls.phoneNumber.hasError('pattern')">{{"PHONE_NUMBER_INCORRECT" | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100" appearance="fill" class="textarea">
      <mat-label>{{"DESCRIPTION" | translate}}</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="undefined" [disabled]="exiting">{{"CANCEL" | translate}}</button>
    <button mat-button color="primary"
            (click)="updateUser()"
            [disabled]="!form.valid||exiting">{{"CONFIRM" | translate}}
    </button>
  </mat-dialog-actions>
</form>
