<div class="form-input">
    <div class="row">
        <app-key-words-selectors 
        [keyWords]="listOfKeyWords" 
        (keyWordsChanged)="onKeyWordsChanged($event)"
        [form]="form">
        </app-key-words-selectors>
    </div>
    <span>
        <button mat-stroked-button color="warn" class="button-option" (click)="close()">{{"CLOSE" | translate}}</button>
        <button mat-stroked-button color="primary" class="button-option" (click)="changeKeyWords()">{{"SAVE" | translate}}</button>
    </span>