<div class="options">
    <mat-form-field appearance="standard" class="option">
        <mat-label>Show</mat-label>
        <mat-select formControlName="hiddenSelection" [(value)]="selected" (selectionChange)="loadUniversities($event.value)">
            <mat-option [value]=true>All</mat-option>
            <mat-option [value]=false>Without hidden</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<h1>Uniwersytety</h1>
<span class="flex-container">
    <div *ngFor="let universitie of universities" class="flex-item">
        <h3 class="item">
            <a [title]="universitie.name + ' details'" [routerLink]="['/universitie', universitie.id]">
                ID: {{ universitie.id }} <br>
                Name: {{ universitie.name}} <br> 
                ShortName: {{ universitie.shortName}}
            </a>
        </h3>
    </div>
</span>