<div fxLayout='column' fxLayoutAlign="center center" class="cms-padding cms-layout-gap" *ngIf="university">
  <app-university-card [university]="university" [config]="universityCardConfig" class="cms-fixed-width">
    <button *ngIf="!securityService.isForbiddenUniversity(university)" mat-button [matMenuTriggerFor]="actionsUniversity">
      <mat-icon>label_important</mat-icon>
      <span>{{"ACTIONS" | translate}}</span>
    </button>
  </app-university-card>
  <mat-card fxFlex class="cms-fixed-width">
    <mat-card-title class="mb-20">{{"MAIN_PAGE_OF" | translate}} {{university.shortName}}<br></mat-card-title>
    <mat-card-content fxLayout='column' class="cms-layout-gap">
      <app-page-card [page]="university.mainPage" [config]="secondaryCardConfig"></app-page-card>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex class="cms-fixed-width">
    <mat-card-title class="mb-20">{{"ENROLLED_USERS" | translate}}<br></mat-card-title>
    <mat-card-content fxLayout='column' class="cms-layout-gap">
      <app-user-card *ngFor="let user of university.enrolledUsers" [user]="user"
                     [config]="userCardConfig"></app-user-card>
    </mat-card-content>
  </mat-card>
</div>

<mat-menu #actionsUniversity="matMenu">
  <button mat-menu-item (click)="startEdit()"
          *ngIf="securityService.hasRole('MODERATOR') && !securityService.isForbiddenUniversity(university)">
    <mat-icon>edit</mat-icon>
    <span>{{"EDIT" | translate}}</span>
  </button>
  <button mat-menu-item (click)=hiddenUniversity()
          *ngIf="securityService.hasRole('MODERATOR') && !securityService.isForbiddenUniversity(university)
          && university.hidden">
    <mat-icon>visibility_on</mat-icon>
    <span>{{"SHOW_UNIVERSITY" | translate}}</span>
  </button>
  <button mat-menu-item (click)=hiddenUniversity()
          *ngIf="securityService.hasRole('MODERATOR') && !securityService.isForbiddenUniversity(university)
          && !university.hidden">
    <mat-icon>visibility_off</mat-icon>
    <span>{{"HIDE_UNIVERSITY" | translate}}</span>
  </button>
  <button mat-menu-item (click)="deleteUniversity()"
          *ngIf="securityService.hasRole('ADMIN') && !securityService.isForbiddenUniversity(university)">
    <mat-icon>delete</mat-icon>
    <span>{{"DELETE_UNIVERSITY" | translate}}</span>
  </button>
</mat-menu>
