.item {
    padding: 2px 10px;
    margin: 0.5px;
    background-color: rgb(184, 223, 255);
    color: black;
}

:link {
    color: black;
    font-style: normal;
    text-decoration: none;
}
:link::after{
    color: black;

}
.flex-container {
    justify-content: space-around;
}



.options {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

.option {
    padding: 0px 5px;
    margin: 0px;
}

.selectButton {
    max-height: 30px;
}
.button,
button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--base-button-blue);
  color: rgb(0, 0, 0);
  border: none;
}
