<div fxLayout='column' fxLayoutAlign="center center" class="cms-padding">
  <h1 fxFlex>{{"UNIVERSITIES" | translate}}</h1>
  <button fxFlex mat-button (click)="addUniversity()">{{"ADD_UNIVERSITY" | translate}}</button>
</div>

<ag-grid-angular
    class="ag-theme-alpine"
    [rowSelection]="'single'"
    [suppressCellFocus]="true"
    [rowData]="data"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [overlayNoRowsTemplate]="noRowsTemplate"
    (rowSelected)="onRowSelected($event)"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>
