form {
  max-width: 600px;
}

mat-form-field {
  width: 100%;
}
.button-option{
  display: inline-flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  background-color: var(--base-button-blue);
  color: rgb(0, 0, 0);
  border: none;
}
