<div class="form-input">
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput required [(ngModel)]="page.title" [formControl]="titleValid">
      <mat-error *ngIf="titleValid.hasError('required')">Title of page is required</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput required [(ngModel)]="page.description" [formControl]="descriptionValid">
      <mat-error *ngIf="descriptionValid.hasError('required')">Description of page is required</mat-error>
    </mat-form-field>
  </div>
</div>
<span>
    <button mat-stroked-button class="button-option" (click)="close()">Close</button>
    <button mat-stroked-button class="button-option" (click)="createPage()">Add page</button>
</span>
