<form [formGroup]="form">
  <h2 mat-dialog-title>{{"ADDING_PAGE" | translate}}</h2>
  <mat-dialog-content fxLayout='row wrap'>
    <mat-form-field fxFlex="100" appearance="fill">
      <mat-label>{{"TITLE" | translate}}</mat-label>
      <input matInput required formControlName="title">
      <mat-error *ngIf="form.controls.title.hasError('required')">{{"TITLE_REQUIRED" | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100" appearance="fill">
      <mat-label>{{"DESCRIPTION" | translate}}</mat-label>
      <input matInput required formControlName="description">
      <mat-error *ngIf="form.controls.description.hasError('required')">{{"DESCRIPTION_REQUIRED" | translate}}</mat-error>
    </mat-form-field>

    <app-template-selector
      [universityId]="parentPage?.university?.id"
      [form]="form"
      (templateChanged)="onTemplateChanged($event)">
    </app-template-selector>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button class="button-option" [disabled]="pending"
            [mat-dialog-close]="undefined">{{"CLOSE" | translate}}
    </button>
    <button mat-stroked-button class="button-option" [disabled]="!form.valid||pending"
            (click)="createPage()">{{"ADD_PAGE" | translate}}
    </button>
  </mat-dialog-actions>
</form>

