<h2 mat-dialog-title>Przypisz nowy uniwersytet do użytkownika</h2>
<mat-form-field appearance="fill">
    <mat-label>Nazwa uniwersytetu</mat-label>
    <input type="text" matInput [formControl]="universityControl" [matAutocomplete]="auto" spellcheck="false">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="undefined" [disabled]="exiting">Anuluj</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="addUniversity(this.universityControl.value)"
            [disabled]="!this.universityControl.valid||exiting">Dodaj
    </button>
</mat-dialog-actions>
