<div fxLayout='column' fxLayoutAlign="center center" class="cms-padding cms-layout-gap" *ngIf="user">
  <app-user-card *ngIf="user" [user]="user" [config]="userCardConfig" class="cms-fixed-width">
    <div *ngIf="settings">
      <hr>
      <button *ngIf="!securityService.isForbiddenUser(user)" mat-button [matMenuTriggerFor]="actions">
        <mat-icon>label_important</mat-icon>
        <span>Opcje</span>
      </button>
    </div>
  </app-user-card>

  <mat-accordion *ngIf="!settings" fxFlex class="cms-fixed-width">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>insert_drive_file</mat-icon>
          <span>Strony użytkownika</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout='column' class="cms-layout-gap">
        <app-page-card *ngFor="let page of pages" [page]="page" [config]="pageCardConfig"></app-page-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-menu #actions="matMenu">
  <button mat-menu-item (click)="openUpdateDialog()"
          *ngIf="!securityService.isForbiddenUser(user)">
    <mat-icon>create</mat-icon>
    <span>Edytuj zawartość</span>
  </button>
  <button mat-menu-item (click)="openChangeUsernameDialog()"
          *ngIf="!securityService.isForbiddenUser(user)">
    <mat-icon>person</mat-icon>
    <span>Zmień nazwę użytkownika</span>
  </button>
  <button mat-menu-item (click)="openChangePasswordDialog()"
          *ngIf="!securityService.isForbiddenUser(user)">
    <mat-icon>lock</mat-icon>
    <span>Zmień hasło</span>
  </button>
  <button mat-menu-item (click)="openChangeAccountTypeDialog()"
          *ngIf="!securityService.isForbiddenUser(user, true)">
    <mat-icon>security</mat-icon>
    <span>Zmień rolę</span>
  </button>
  <button mat-menu-item (click)="openAddUniversityDialog()"
          *ngIf="!securityService.isForbiddenUser(user, true)">
    <mat-icon>business</mat-icon>
    <span>Przypisz uniwersytet</span>
  </button>
  <button mat-menu-item (click)="activeUser()"
          *ngIf="!securityService.isForbiddenUser(user, true)
          && !user.enabled">
    <mat-icon>visibility_on</mat-icon>
    <span>Activate</span>
  </button>
  <button mat-menu-item (click)="activeUser()"
          *ngIf="!securityService.isForbiddenUser(user, true)
          && user.enabled">
    <mat-icon>visibility_off</mat-icon>
    <span>Deactivate</span>
  </button>
  <button mat-menu-item (click)="deleteUser()"
          *ngIf="!securityService.isForbiddenUser(user)">
    <mat-icon>delete</mat-icon>
    <span>Usuń użytkownika</span>
  </button>
</mat-menu>

