<form>
  <h2 mat-dialog-title>Dodawanie uniwersytetu do użytkownika</h2>
  <mat-form-field appearance="fill">
    <mat-label>Nazwa uniwersytetu</mat-label>
    <input type="text" matInput [formControl]="universityControl" [matAutocomplete]="auto" spellcheck="false">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="undefined" [disabled]="exiting">Anuluj</button>
    <button mat-button color="primary" (click)="addUniversity(this.universityControl.value)"
            [disabled]="!universityControl.valid||exiting">Potwierdź
    </button>
  </mat-dialog-actions>
</form>
