<form>
  <h2 mat-dialog-title>{{"ADDING_UNIVERSITY_TO_USER" | translate}}</h2>
  <app-university-selector (universityChanged)="onUniversityChanged($event)"></app-university-selector>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="undefined" [disabled]="exiting">{{"CANCEL" | translate}}</button>
    <button mat-button color="primary" (click)="addUniversity()"
            [disabled]="!selectedUniversity||exiting">{{"ACCEPT" | translate}}
    </button>
  </mat-dialog-actions>
</form>
