
<mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput required  [(ngModel)]="user.username">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput required  [(ngModel)]="user.password">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput  [(ngModel)]="user.firstName">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput  [(ngModel)]="user.lastName">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput [(ngModel)]="user.phoneNumber">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Account type</mat-label>
    <mat-select required [(ngModel)]="user.accountType">
      <mat-option value="one">Main admin</mat-option>
      <mat-option value="two">University admin</mat-option>
      <mat-option value="three">User</mat-option>
    </mat-select>
</mat-form-field>

<button mat-stroked-button (click)="createUser()">Add user</button>


<!-- <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <button (click)="createUser()"></button>
</mat-form-field> -->