/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #000000;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.container {
  background-color: var(--base-light-blue);
  padding: 0px 5px;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

router-outlet {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

router-outlet+* {
    padding: 0;
    margin: 0;
}

:link {
    color: black;
    font-style: normal;
    text-decoration: none;
}

/* Text */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h1,
h2 {
    font-weight: lighter;
}

p {
    font-size: 14px;
}

/* Hyperlink */

a {
    cursor: pointer;
    color: var(--base-blue);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* Input */

input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

/* Button */
.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 8px 8px;
    cursor: pointer;
    background-color:  var(--base-light-blue);
    color: rgb(0, 0, 0);
    border: none;
}
.mainButton {
    border-radius: 5px;
    font-size: 25px;
}

.subButton {
    font-size: 15px;
}

.button:hover,
button:hover {
    opacity: 0.8;
    font-weight: normal;
    background-color: var(--base-hover-button);
}

.button:disabled,
button:disabled {
    opacity: 0.5;
    cursor: auto;
    background-color: var(--base-disable-button);
}

/* Fancy Button */

.fancy-button {
    background-color: white;
    color: var(--base-button-blue)
}

.fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: var(--base-blue);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-top-bar h1 {
    color: rgb(0, 0, 0);
    margin: 0;
}
