<div fxLayout='column' fxLayoutAlign="center center" class="cms-padding">
  <h1 fxFlex>{{"PAGES" | translate}}</h1>
</div>

<ag-grid-angular
  class="ag-theme-alpine"
  [animateRows]="true"
  [suppressCellFocus]="true"
  [rowSelection]="'single'"
  [rowData]="pages"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [overlayNoRowsTemplate]="noRowsTemplate"
  (rowDataUpdated)="onResize()"
  (rowSelected)="onRowSelected($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>

