<form [formGroup]="form">
  <h2 mat-dialog-title>{{"TEMPLATE.DIALOG_LOAD_HEADER" | translate}}</h2>
  <mat-dialog-content>
    <app-template-selector
      [universityId]="page.university.id"
      [form]="form"
      (templateChanged)="onTemplateChanged($event)">
    </app-template-selector>
  </mat-dialog-content>
  <mat-dialog-actions mat-dialog-actions style="justify-content: center">
    <button mat-raised-button color="primary" [disabled]="!form.valid"
            (click)="onSubmit()">{{"CONFIRM" | translate}}
    </button>
    <button mat-raised-button color="warn"
            [mat-dialog-close]="undefined">{{"CLOSE" | translate}}
    </button>
  </mat-dialog-actions>
</form>

