table {
  width: 100%;
}

mat-card {
  width: 600px;
}

mat-card-content h3, button {
  text-align: center;
}

.mat-column-position {
  padding-right: 50px;
}



.mat-column-date {
}

.mat-column-size {
}

.mat-column-actions {
  text-align: end;
}
