<div fxLayout='column' fxLayoutAlign="center center" class="cms-padding cms-layout-gap">

    <mat-card>
      <h2 mat-card-title align="center">Kopie zapasowe bazy danych</h2>
      <mat-card-content fxLayout='column' fxLayoutAlign="center center">
        <h3>
          <span>Ostatnia kopia została utworzona: </span>
          <b>2 godziny temu</b>
        </h3>
        <h3>
          <span>Liczba utworzonych kopii: </span>
          <b>{{backups.length}}</b>
        </h3>
        <button mat-stroked-button color="primary" (click)="createBackup()">
          Utwórz kopię zapasową
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="backups">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef><b>No.</b></th>
            <td mat-cell *matCellDef="let backup">{{backup.position}}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef><b>Date</b></th>
            <td mat-cell *matCellDef="let backup"> {{backup.name | date:'dd-MM-yyyy HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef><b>Size</b></th>
            <td mat-cell *matCellDef="let backup"> {{backup.size}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let backup">
              <button color="warn" mat-icon-button
                      [matTooltipPosition]="'left'"
                      [matTooltipShowDelay]="700"
                      matTooltipClass="cms-tooltip"
                      matTooltip="Usuń kopię zapasową">
                <mat-icon>delete</mat-icon>
              </button>
              <button color="primary" mat-icon-button
                      [matTooltipPosition]="'right'"
                      [matTooltipShowDelay]="700"
                      matTooltipClass="cms-tooltip"
                      matTooltip="Pobierz kopię zapasową">
                <mat-icon>download</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>

</div>


