<mat-form-field appearance="fill">
  <mat-label>{{"UNIVERSITY_NAME" | translate}}</mat-label>
  <input type="text" matInput [formControl]="universityControl" [matAutocomplete]="auto" spellcheck="false">
  <button *ngIf="universityControl.value" (click)="clearValue()" mat-icon-button matSuffix>
    <mat-icon>cancel</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
