ag-grid-angular {
  height: 70vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--base-button-blue);
  color: rgb(0, 0, 0);
  border: none;
}
