<div>
    <h1>{{"USERS_LIST" | translate}}</h1>
    <!-- <div *ngFor="let user of users">
        <h3 class="item">
            <a [title]="user.username + ' details'" [routerLink]="['/account', user.id]">
                {{ user.username }}
            </a>
        </h3>
    </div> -->
</div>
<button mat-button (click)="addUser()">{{"ADD_USER" | translate}}</button>

<ag-grid-angular
    style="width: 100%; height: 100%;"
    domLayout='autoHeight'
    class="ag-theme-alpine"
    [rowData]="users"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="'single'"
    (rowSelected)="onRowSelected($event)"
    (gridReady)="onGridReady($event)">>
</ag-grid-angular>
