:host {
  flex-grow: 1;

  h1 {
    margin: 0;
    padding: 30px 30px 0;
  }

  button {
    margin: 30px;
  }

  ag-grid-angular {
    max-width: 1200px;
    width: 85%;
    margin-bottom: 60px;
  }
}

button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--base-button-blue);
  color: rgb(0, 0, 0);
  border: none;
}
