
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Angular-primary: mat.define-palette(mat.$indigo-palette);
$Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Angular-theme: mat.define-light-theme((
  color: (
    primary: $Angular-primary,
    accent: $Angular-accent,
    warn: $Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Angular-theme);
@import 'ag-grid-community/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/styles/ag-theme-alpine.css'; // Optional theme CSS
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* You can add global styles to this file, and also import other style files */
:root {
  --base-light-blue:#9ec6f7;
  --base-blue: #006da3;
  --base-button-blue: #4999fa;
  --base-hover-button: #99eeff;
  --base-disable-button: #666666;
  --red-error-button: rgb(240, 103, 103);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "cms-styles";

.ag-root-wrapper {
  @extend .mat-elevation-z4;
  border: #74b5ff 1px solid;

  .ag-root {
    .ag-header {
      border-bottom: #74b5ff 1px solid;
      .ag-header-viewport {
        background-color: var(--base-button-blue);
      }
    }

    .ag-body-viewport {
      background-color: #f0f8ff;
    }

    .ag-row {
      border-bottom: var(--base-button-blue) 1px solid;
      background-color: #d8eaff;
      cursor: pointer;
    }

    .ag-row:hover {
      background-color: var(--base-button-blue);
    }

    .ag-icon-menu:hover {
      color: black;
      opacity: 0.4;
    }
  }
}
