<div class="main-div">
  <mat-card class="card">
    <mat-card-header style="display:inline-block">
      <mat-card-title fxLayout="row" fxLayoutAlign="center">{{"LOGIN_TO_SYSTEM" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>{{"USERNAME" | translate}}</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{"PASSWORD" | translate}}</mat-label>
          <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
        </mat-form-field>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" class="loginButton">{{"LOGIN" | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
