<div class="center">

    <mat-card style="width:fit-content;">
        <mat-card-header>
            <mat-card-title>{{"LOGIN_TO_SYSTEM" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{"USERNAME" | translate}}</mat-label>
                                <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>{{"PASSWORD" | translate}}</mat-label>
                                <input matInput placeholder="Password" [(ngModel)]="user.password" type="password"
                                name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" class="loginButton">{{"LOGIN" | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
