.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
}

.loginButton {
    border-radius: 2px;
    font-size: 20px;
    background-color: var(--base-button-blue);

}

.subButton {
    font-size: 15px;
}

.button:hover,
button:hover {
  opacity: 0.9;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.card {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.main-div {
  top: 33%;
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 2px;
}

:host::ng-deep {
  mat-form-field {
    width: 80% !important;
  }

  mat-card-header {
    margin: 0 !important;
    padding: 5px !important;
  }
}
