name: Run tests

on:
  push:
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'corretto'
          cache: maven
          
      - name: Validate, build and run backend tests
        run: mvn --batch-mode --update-snapshots verify
        
      - name: Build frontend
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: v17.5.0
          cache: 'npm'

      - name: Install and build frontend
        run: |
          npm install
          npm run build --if-present
