<form>
  <mat-form-field fxFlex="100" appearance="fill">
    <mat-label>Słowa klucze </mat-label>
    <mat-chip-list #chipGrid aria-label="Słowa kluczowe">
      <mat-chip *ngFor="let option of options" (removed)="remove(option)">
        {{option}}
        <button matChipRemove [attr.aria-label]="'remove ' + option">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <input placeholder="Słowo klucz..." #fruitInput [formControl]="keyWordsControl" [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>